In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
import scipy.stats as st
%matplotlib inline

In [24]:
sns.set(rc={'figure.figsize':(14,8)})

In [25]:
data = pd.read_csv('posterior_gdpInfantMortality.csv')
posteriors=pd.read_csv('posterior_posteriorsGdpInfantMortality.csv')

In [26]:
data.dropna(inplace=True)
data.rename(columns={'infant.mortality':'im'}, inplace=True)

In [27]:
X2=pd.DataFrame(np.log(data.gdp))
y2=np.log(data.im)

In [28]:
data.head()

    Unnamed: 0     im     gdp
0  Afghanistan  154.0  2848.0
1      Albania   32.0   863.0
2      Algeria   44.0  1531.0
5       Angola  124.0   355.0
6      Antigua   24.0  6966.0

In [29]:
posteriors.corr()

          alpha      beta     sigma
alpha  1.000000 -0.976526 -0.017695
beta  -0.976526  1.000000  0.016579
sigma -0.017695  0.016579  1.000000

## The priors distributions are: ##
$$ \LARGE{ \alpha \sim \mathcal{N} (0,10) \\ \beta \sim \mathcal{N} (0,10) \\ \sigma \sim \mathcal{N} (0,5), \sigma \geq 0} $$

In [30]:
alpha = st.norm(loc=0,scale=10)
beta = st.norm(loc=0,scale=10)
sigma = st.halfnorm(loc=0,scale=5)

In [31]:
priors=pd.DataFrame({'alpha':alpha.rvs(2000), 'beta':beta.rvs(2000), 'sigma':sigma.rvs(2000)})

0.03989422804014327

0       -4.290545
1      -15.177673
2      -15.893277
3      -16.726175
4       -6.522781
          ...
1995     2.861723
1996    -5.130705
1997    11.091802
1998     2.325455
1999    -2.947079
Name: alpha, Length: 2000, dtype: float64

          gdp
0    7.954372
1    6.760415
2    7.333676
5    5.872118
6    8.848796
..        ...
200  5.598422
203  6.595781
204  7.304516
205  5.945421
206  6.666957

[193 rows x 1 columns]